.btn {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.9)
}
.container-1, .container-2, .container-3, .container-4, .container-5{
    margin: 0 auto;
    width: 75%;
    border: 2px solid black;
    text-align: center;
}

.flex-box-container-1, .flex-box-container-2, .flex-box-rps, .flex-box-pick-color, 
.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    border: 1px solid #000000; 
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.flex-box-container-1 div, .flex-box-mini-container {
    display: flex;
    padding: 5px;
    border: 0px solid black;
    align-items: center;
    margin: 0 auto;
}

.flex-box-container-2 img{
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 30px rgba(182, 19, 223, 0.7);
}
.flex-box-mini-container {
    display: flex;
    padding-left: 20em;
}

.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background-image: url(https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1073.jpg);
    color: white;
}

.flex-blackjack-row-1 div {
    border: 2px solid black;
    padding: 10px;
    height: 325px;
    text-align: center;
    flex: 1;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-3 table, .flex-blackjack-row-3 tr, .flex-blackjack-row-3 th, .flex-blackjack-row-3 td {
    border: 1px solid black;
    padding: 5px;
    padding-inline: 15px;
    text-align: center;
}